POSTGRES_USER=escrow
POSTGRES_PASSWORD=escrow
POSTGRES_DB=escrow
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
APP_AUTH_JWT_SECRET=change-me-in-env-very-secret-key-1234567890
APP_DEAL_DB_URL=jdbc:postgresql://postgres:5432/escrow
APP_DEAL_DB_USER=escrow
APP_DEAL_DB_PASSWORD=escrow
APP_ESCROW_DB_URL=jdbc:postgresql://postgres:5432/escrow
APP_ESCROW_DB_USER=escrow
APP_ESCROW_DB_PASSWORD=escrow
APP_FUNDING_DB_URL=jdbc:postgresql://postgres:5432/escrow
APP_FUNDING_DB_USER=escrow
APP_FUNDING_DB_PASSWORD=escrow
APP_FULFILLMENT_DB_URL=jdbc:postgresql://postgres:5432/escrow
APP_FULFILLMENT_DB_USER=escrow
APP_FULFILLMENT_DB_PASSWORD=escrow
APP_REVIEW_DB_URL=jdbc:postgresql://postgres:5432/escrow
APP_REVIEW_DB_USER=escrow
APP_REVIEW_DB_PASSWORD=escrow
APP_RESOLUTION_DB_URL=jdbc:postgresql://postgres:5432/escrow
APP_RESOLUTION_DB_USER=escrow
APP_RESOLUTION_DB_PASSWORD=escrow
APP_DISPUTE_DB_URL=jdbc:postgresql://postgres:5432/escrow
APP_DISPUTE_DB_USER=escrow
APP_DISPUTE_DB_PASSWORD=escrow
APP_KAFKA_FUNDING_TOPIC=escrow.funding.events
APP_KAFKA_FULFILLMENT_TOPIC=escrow.fulfillment.events
APP_KAFKA_REVIEW_TOPIC=escrow.review.events
APP_KAFKA_DISPUTE_TOPIC=escrow.dispute.events
APP_KAFKA_RESOLUTION_TOPIC=escrow.resolution.events
